.layout {
  display: grid;
  gap: 1rem;
  accent-color: var(--🎨secondary);
}

.layout fieldset {
  display: grid;
  justify-items: start;
  gap: 0.5rem;
  border: none;
  padding: 0;
  margin: 0;
}

.layout fieldset legend {
  padding: 0;
  line-height: 4rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.layout label {
  display: inline-grid;
  font-weight: 600;
}

.layout input:not([type="checkbox"]) {
  min-height: var(--min-touch);
  min-width: var(--min-touch);
  font-size: 1rem;
  padding-inline: 0.5rem;
  border: 1px solid var(--🎨page_text2);
  border-radius: 0.5rem;
}

.layout label:has(input[type="checkbox"]) {
  display: grid;
  grid-template:
    "btn label" var(--min-touch)
    / var(--min-touch) 1fr;
  align-items: center;
  min-height: var(--min-touch);
  min-width: var(--min-touch);
  margin-inline-start: calc(-0.25 * var(--min-touch));
}

.layout input[type="checkbox"] {
  place-self: center;
  width: 1.25rem;
  height: 1.25rem;
}

.submit_button {
  justify-self: center;
  width: 75%;
  min-width: var(--min-touch);
  max-width: 256px;
  min-height: var(--min-touch);
  padding: 0;
  margin: 0;
  margin-block-start: 2rem;
  border: none;
  background: none;

  background: var(--🎨secondary);
  color: var(--🎨secondary_text1);
  border: none;
  border-radius: 10rem;

  font-size: 1.125rem;
  font-weight: 700;

  overflow: hidden;
}

.submit_button:disabled {
  color: inherit;
}

.submit_button svg {
  width: 2rem;
  height: 2rem;
}
