.get_involved h1 {
  font-size: 3rem;
}

.get_involved_nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(128px, 256px));
  gap: 1rem;
  justify-content: center;
}

.get_involved_nav a {
  display: flex;
  align-items: center;
  min-width: var(--min-touch);
  min-height: var(--min-touch);
  padding: 1rem;
  border: none;
  background: var(--🎨primary);
  color: var(--🎨primary_text1);
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.125rem;
  text-decoration: none;
}

.get_involved_nav :global(a.active) {
  background: var(--🎨secondary);
  color: var(--🎨secondary_text1);
}
