.section h1 {
  font-size: 3rem;
  color: var(--🎨primary);
}

.section:last-of-type {
  margin-block-end: 8rem;
}

.float_left {
  float: left;
}

.stagger {
  display: flex;
  gap: 1rem;
  margin-block: 1rem;
  align-items: flex-start;
}

.stagger.reverse {
  flex-direction: row-reverse;
}

.stagger picture {
  position: relative;
  margin-block-start: 1rem;
}

.bg1 {
  flex-shrink: 0.75;
  width: 512px;
  aspect-ratio: 720/580;
}

.bg1 img {
  object-fit: cover;
  object-position: bottom right;
}

.bg2 {
  flex-shrink: 0.75;
  width: 256px;
  aspect-ratio: 720/960;
}

.bg2 img {
  object-fit: cover;
}

.bg3 {
  flex-shrink: 0.75;
  width: 512px;
  aspect-ratio: 640/480;
}

.bg3 img {
  object-fit: cover;
  object-position: bottom left;
}

.educationx {
  flex-shrink: 0.75;
  width: 512px;
  aspect-ratio: 640/960;
}

.experiencex {
  flex-shrink: 0.1;
  width: clamp(128px, 100vw, 256px);
  aspect-ratio: 1024/1280;
}

.experiencex img {
  /* object-fit: cover; */
  object-fit: contain;
}

picture.experience {
  display: flex;
  position: relative;
  width: 320px;
  aspect-ratio: 4/5;
}

picture.experience img {
  object-fit: contain;
}
