.section h1 {
  font-size: 3rem;
  color: var(--🎨primary);
  margin-block: 1rem;
}

.section picture {
  position: relative;
  width: 100vw;
  max-height: 420px;
  margin-inline: -1rem;
  margin-block-end: 1rem;
}

.section picture:global(.left) {
  float: left;
}

.section picture:global(.right) {
  float: right;
}

.section:last-of-type {
  margin-block-end: 8rem;
}

.section.edu {
  background: var(--🎨primary);
  color: var(--🎨primary_text1);
  padding-block-end: 2rem;
}

.section.edu h1 {
  color: var(--🎨primary_accent);
}

.film_strip {
  display: flex;
  gap: 1rem;
  overflow: hidden;
}

.film_strip > picture {
  height: clamp(128px, 50vw, 320px);
}

.pic_bg1 {
  aspect-ratio: 181/145;
}

.pic_bg2 {
  aspect-ratio: 3/4;
}

.pic_bg3 {
  aspect-ratio: 4/3;
}

.pic_bg3 {
  aspect-ratio: 3024/4032;
}

.pic_edu {
  aspect-ratio: 2/3;
}

.pic_exp {
  aspect-ratio: 4/5;
}

@media (min-width: 640px) {
  .section {
    margin-block-end: 4rem;
  }

  .edu {
    padding-block-start: 2rem;
  }

  .section picture {
    position: relative;
    width: clamp(128px, 50vw, 320px);
    margin: 0;
  }

  .section picture:global(.left) {
    margin: 1rem 2rem 1rem 0;
  }

  .section picture:global(.right) {
    margin: 1rem 0 1rem 2rem;
  }
}
