.vote {
  display: grid;
  column-gap: 1rem;
  grid-template:
    "h1 h1" auto
    "text map" minmax(256px, auto)
    "link map" auto
    / 1fr 1fr;
}

.vote h1 {
  grid-area: h1;
}

.vote_button {
  justify-self: start;
  display: flex;
  place-items: center;
  min-width: var(--min-touch);
  min-height: var(--min-touch);
  padding: 0.5rem;
  background: var(--🎨primary);
  color: var(--🎨primary_text1);
  text-decoration: none;
}

.district_map {
  position: relative;
  grid-area: map;
}

.district_map img {
  aspect-ratio: 1/1;
  object-fit: cover;
}
