:root {
  --max-width: 1024px;
  --min-touch: 48px;

  --🎨page: hsl(0deg 0% 96%);
  --🎨page_accent: hsl(176deg 67% 37%);
  --🎨page_text1: hsl(0deg 0% 0%);
  --🎨page_text2: hsl(0deg 0% 30%);

  --🎨primary: hsl(175deg 24% 19%);
  --🎨primary_accent: hsl(173deg 100% 80%);
  --🎨primary_text1: hsl(176deg 74% 92%);

  --🎨secondary: hsl(176deg 67% 39%);
  --🎨secondary_accent: hsl(176deg 67% 79%);
  --🎨secondary_text1: hsl(176deg 67% 10%);
}

* {
  box-sizing: border-box;
}

html {
  font-family: system-ui, sans-serif;
  background: var(--🎨page);
}

a {
  color: inherit;
}

[hidden] {
  display: none !important;
}

/* centers all content */
body {
  display: grid;
  gap: 0 1rem;
  grid-auto-rows: min-content;
  grid-template-columns:
    1fr
    [center] minmax(320px, var(--max-width))
    1fr;
  margin: 0;
  background: var(--🎨page);
  color: var(--🎨page_text1);
}

body > * {
  grid-column: center;
}

/* allow layout container to stretch across page */
.full_bleed {
  /* stretch container across body layout */
  grid-column: 1/-1;
  /* re-centers all internal content */
  display: grid;
  gap: 0 1rem;
  grid-auto-rows: min-content;
  grid-template-columns:
    1fr
    [center] minmax(320px, var(--max-width))
    1fr;
}

.full_bleed > * {
  grid-column: center;
}

/* visually hidden */
:is(.visually_hidden, .svg_symbols) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}
