:is(.header, .footer) {
  background: var(--🎨primary);
  color: var(--🎨primary_text1);
}

.header {
  padding-block: 0.5rem;
}

.footer {
  gap: 1rem;
  min-height: 25vh;
  padding-block: 1rem;
  justify-items: center;
}

/* scroll bounce background */
.footer::after {
  z-index: -1;
  position: fixed;
  inset: auto 0 0 0;
  width: 100vw;
  height: 25vh;
  background: var(--🎨primary);
  content: "";
}

/* navigation links */
:is(.nav_top, .nav_social) a {
  min-width: var(--min-touch);
  min-height: var(--min-touch);
  text-decoration: none;
  color: inherit;
  display: inline-flex;
}

/* top navgiation */
.nav_top {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.nav_top a {
  align-items: flex-end;
  padding: 0.5rem;
  font-weight: 700;
  font-size: 1.125rem;
}

/* social media links */
.nav_social {
  display: flex;
  gap: 1rem;
  justify-self: end;
}

.nav_social svg {
  width: var(--min-touch);
  height: var(--min-touch);
}

/* home link */
a.nav_home {
  position: relative;
  width: clamp(48px, 25vw, 128px);
  padding: 0;
  margin-inline-start: -0.5rem;
  margin-inline-end: auto;
  aspect-ratio: 3/2;
}

.footer a.nav_home {
  width: clamp(48px, 50vw, 320px);
  margin: auto;
}
