.cover,
.intro,
.endorsements {
  margin-block-end: 4rem;
}

.cover {
  position: relative;
  grid-column: 1/-1;
  display: grid;
  grid-template: "stack" 1fr / 1fr;
}

.cover::before,
.cover::after {
  grid-area: stack;
  content: "";
  width: 100%;
  z-index: 1;
}

.cover::before {
  background: hsla(0deg 0% 0% / 0.125);
}

.cover::after {
  background: linear-gradient(
    180deg,
    hsla(0deg 0% 0% / 0) 0%,
    hsla(0deg 0% 0% / 0) 5%,
    hsla(0deg 0% 0% / 0.08) 65%,
    hsla(0deg 0% 0% / 0.5) 90%,
    hsla(0deg 0% 0% / 0.7) 100%
  );
}

.cover img {
  grid-area: stack;
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  object-position: top center;
  max-height: 756px;
}

.cover_text {
  grid-area: stack;
  place-self: end center;
  display: grid;
  place-items: center;
  color: white;
  z-index: 2;
  margin-block-end: 10%;
}

.cover_name {
  font-size: 3.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.cover_slogan {
  font-size: 1.75rem;
}

.intro img {
  width: clamp(64px, 50vw, 420px);
  margin: 1rem 2rem 1rem 0;
  float: left;
}

:is(.priorities, .endorsements) h1 {
  font-size: 2.25rem;
  margin-block: 2rem;
}

:is(.priorities, .endorsements) dl {
  display: grid;
  margin: 0;
}

:is(.priorities, .endorsements) dt {
  font-size: 1.25rem;
}

:is(.priorities, .endorsements) dd {
  margin: 0;
}

.priorities {
  background: var(--🎨primary);
  color: var(--🎨primary_text1);
  gap: 1rem;
  padding-block-end: 4rem;
}

.priorities h1 {
  color: var(--🎨primary_accent);
}

.priorities dl {
  grid-template-columns: repeat(auto-fit, minmax(min(14rem, 100%), 1fr));
  gap: 1rem;
}

.endorsements h1 {
  color: var(--🎨primary);
  justify-self: center;
}

.priorities dt {
  font-weight: 500;
  margin-block-end: 1rem;
}

.endorsements dl {
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
  gap: 2rem;
  color: black;
}

.endorsement {
  border-top: 1px solid currentColor;
}

.endorsement dt {
  font-weight: 500;
}

.endorsement dd {
  color: var(--🎨page_text2);
}
