.cover,
.intro,
.vote,
.priorities,
.endorsements {
  margin-block-end: 4rem;
}

.cover {
  position: relative;
  grid-column: 1/-1;
  display: grid;
  grid-template: "stack" minmax(512px, 50vw) / 1fr;
}

.cover::before,
.cover::after {
  z-index: 1;
  grid-area: stack;
  content: "";
  width: 100%;
}

.cover::before {
  background: hsla(0deg 0% 0% / 0.125);
}

.cover::after {
  background: linear-gradient(
    180deg,
    hsla(0deg 0% 0% / 0) 0%,
    hsla(0deg 0% 0% / 0) 5%,
    hsla(0deg 0% 0% / 0.08) 65%,
    hsla(0deg 0% 0% / 0.5) 90%,
    hsla(0deg 0% 0% / 0.7) 100%
  );
}

.cover img {
  grid-area: stack;
  object-fit: cover;
  object-position: top center;
}

.cover_text {
  z-index: 2;
  grid-area: stack;
  place-self: end center;
  display: grid;
  place-items: center;
  color: white;
  padding: 1rem;
  margin-block-end: 5%;
}

.cover_name {
  font-size: 3.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.cover_slogan {
  font-size: 1.75rem;
}

.intro_img {
  float: left;
  position: relative;
  width: clamp(64px, 50vw, 320px);
  margin: 1rem 2rem 1rem 0;
  aspect-ratio: 3/4;
}

.intro b {
  font-style: italic;
  color: var(--🎨page_text1);
}

.vote {
  border-top: 4px dashed var(--🎨page_accent);
  display: grid;
  justify-items: center;
  margin-inline: 3rem;
}

.vote h1 {
  margin-block: 2rem;
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--🎨page_accent);
}

.vote a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-height: var(--min-touch);
  min-width: var(--min-touch);
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  background: var(--🎨secondary);
  color: var(--🎨secondary_text1);
  border-radius: 5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;
}

.vote a svg {
  width: var(--min-touch);
  height: var(--min-touch);
}

.list h1 {
  font-size: 3rem;
  margin-block: 3rem;
  justify-self: center;
}

.list dl {
  display: grid;
  margin: 0;
}

.list dt {
  font-size: 1.25rem;
  margin: 0;
}

.list dd {
  margin: 0;
}

.priority {
  gap: 1rem;
  padding-block-end: 8rem;
  background: var(--🎨primary);
  color: var(--🎨primary_text1);
}

.priority h1 {
  color: var(--🎨primary_accent);
}

.priority dl {
  grid-template-columns: repeat(auto-fit, minmax(min(14rem, 100%), 1fr));
  gap: 2rem 2.5rem;
}

.priority_card {
  display: grid;
  grid-template:
    "icon" min-content
    "dt" 4rem
    "dd" min-content
    / 1fr;
}

.priority_card picture {
  position: relative;
  width: 33%;
  margin: 1rem 33%;
  aspect-ratio: 1/1;
}

.priority_card dt {
  justify-self: center;
  font-weight: 700;
  font-size: 1.35rem;
}

.endorsements {
  display: grid;
}

.endorsements h1 {
  justify-self: center;
  color: var(--🎨primary);
}

.endorsements dl {
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
  gap: 2rem;
}

.endorsement {
  border-top: 2px solid var(--🎨primary);
}

.endorsement dt {
  font-weight: 600;
  margin-block: 0.25rem;
}

.endorsement dd {
  color: var(--🎨page_text2);
}
