.section {
  display: grid;
}

.register {
  justify-self: center;
  display: flex;
  place-items: center;
  gap: 1rem;
  min-width: var(--min-touch);
  min-height: var(--min-touch);
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  margin-block: 2rem;
  background: var(--🎨secondary);
  color: var(--🎨secondary_text1);
  border-radius: 0.75rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
}

.district_map {
  justify-self: center;
  position: relative;
  width: 100%;
  max-width: 1024px;
  aspect-ratio: 1145/648;
}

.district_map img {
  border: 4px solid var(--🎨primary);
  object-fit: cover;
}
