.section {
  max-width: var(--max-narrow-width);
  min-height: 50vh;
  margin-inline: auto;
  margin-block-end: 4rem;
}

.form {
  display: grid;
  gap: 1rem;
  accent-color: var(--🎨secondary);
}

.form label {
  display: inline-grid;
  font-weight: 600;
}

.form input:not([type="checkbox"]) {
  min-height: var(--min-touch);
  min-width: var(--min-touch);
  font-size: 1rem;
}

.form label:has(input[type="checkbox"]) {
  display: grid;
  grid-template:
    "btn label" var(--min-touch)
    / var(--min-touch) 1fr;
  align-items: center;
  min-height: var(--min-touch);
  min-width: var(--min-touch);
  margin-inline-start: calc(-0.25 * var(--min-touch));
}

.form input[type="checkbox"] {
  place-self: center;
  width: 1.25rem;
  height: 1.25rem;
}

.form button[type="submit"] {
  justify-self: center;
  min-height: var(--min-touch);
  min-width: var(--min-touch);
  padding: 1rem 2rem;
  margin-block: 1rem;
  background: var(--🎨secondary);
  color: var(--🎨secondary_text1);
  border: none;
  border-radius: 0.75rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.form fieldset {
  display: grid;
  justify-items: start;
  gap: 0.5rem;
  border: none;
  padding: 0;
  margin: 0;
}

.form fieldset legend {
  font-size: 1.5rem;
  font-weight: 700;
  padding-block: 2rem 1rem;
  color: var(--🎨primary);
}

.form output {
  display: flex;
  align-items: center;
  
  min-height: var(--min-touch);
  padding: 1rem;
  margin-block-start: 2rem;
  background: var(--🎨primary_accent);
  color: var(--🎨primary);
  border: 1px solid var(--🎨secondary);
  border-radius: 0.5rem;
}

.form output:empty {
  opacity: 0;
}
